.game {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 40px;
  box-sizing: border-box;
}

h2 {
    font-size: 1.7rem;
  text-align: left;
}

.questionContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  max-width: 400px;
  color: #3d0f22;
  text-align: center;
  font-family: Cabinet Grotesk Variable, sans-serif;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  display: flex;
  padding: 15px 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  border: 3px solid #571530;
  background: #f03986;

  box-shadow: 5px 5px 0px black;
  border-radius: 16px;
}

button:active {
  opacity: 0.5;
}
